@keyframes logoInicio {
  from {
    height: 500px;
  }
  to {
    height: 300px;
  }
}
@keyframes menu {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 1px solid #a4eae0;
}

/* INICIO MAQUETADO CON GRID */
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "menu_grid menu_grid" "contenedor contenedor" "footer footer";
}

#header {
  grid-area: header;
}

#menu {
  grid-area: menu_grid;
}

#footer {
  grid-area: footer;
}

#container__index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nosotros" "servicios" "clientes" "contacto";
  grid-area: contenedor;
}

#container__individual {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nosotros";
  grid-auto-flow: row;
  grid-area: contenedor;
}

#nosotros {
  grid-area: nosotros;
}

#servicios {
  grid-area: servicios;
}

#clientes {
  grid-area: clientes;
}

#contacto {
  grid-area: contacto;
}

/* FIN MAQUETADO CON GRID */
/* Header */
.cabecero, .cabecero__menu {
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}

.cabecero__menu {
  animation: menu;
  display: flex;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.cabecero__menu li {
  display: inline-block;
  padding: 0px 40px 0px 40px;
  animation: menu;
  animation-duration: 10s;
}

.cabecero__menu--sm {
  border: none;
}

.cabecero__menu__items {
  text-decoration: none;
  color: #000000;
}
.cabecero__menu__items:hover {
  font-weight: bold;
  color: #FFA4b3;
}

.cabecero__menu__items--seleccionado {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Fin Header */
/* Footer */
.pie {
  background-color: #000000;
  color: #FFA4b3;
}

.pie__contenedor {
  font-size: 30px;
}

/* Fin Footer */
/* Contenedores */
.contenedor {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contenedor__color1 {
  background-color: #a4eae0;
  color: #000000;
}

.contenedor__color2 {
  background-color: #eaeaea;
  color: #000000;
}

.contenedor__color3 {
  background-color: #939393;
  color: #000000;
}

.contenedor__color4 {
  background-color: #c0bfbf;
  color: #000000;
}

.contenedor__titulo {
  font-size: 50px;
}

.contenedor__cajas {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.contenedor__galeria {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  margin-top: 50px;
  padding: 20px;
  gap: 10px;
}

.contenedor__galeria--index {
  display: grid;
  gap: 5px;
  grid-template-areas: "grupo1 grupo1 grupo2" "grupo1 grupo1 grupo3" "grupo4 grupo5 grupo6";
  margin: 15px;
}

.contenendor__galeria--items {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  box-shadow: -3px 2px 11px 0px #2c2b2b;
}
.contenendor__galeria--items:hover {
  transition-delay: 10s;
  transition: transform 0.8s;
  transform: scale(1.5, 1.5);
}

.contenedor__carrusel {
  padding-left: 100px;
  padding-right: 100px;
}

.contenedor__tarjetas {
  display: inline-flex;
  border-radius: 25px;
  color: #2c2b2b;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 370px;
  padding: 20px;
  margin: 40px 10px 60px 10px;
  min-width: 200px;
}
.contenedor__tarjetas:hover {
  transition-delay: 10s;
  transition: transform 0.8s;
  transform: scale(1.1);
}

.contenedor__tarjetas--lg {
  display: inline-flex;
  border-radius: 25px;
  color: #2c2b2b;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 600px;
  padding: 20px;
  margin: 40px 10px 60px 10px;
}

.contenedor__tarjetas--parrafos {
  display: inline-flex;
  border-radius: 25px;
  color: #2c2b2b;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 370px;
  padding: 20px;
  margin: 40px 10px 60px 10px;
  justify-content: center;
}

.contenedor__tarjetas--info {
  padding: 30px;
  margin-top: 40px;
  border-radius: 25px;
}

.contenedor__tarjetas--sm {
  width: 240px;
  height: 145px;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 25px;
}

.contenedor__tarjetas li {
  padding: 0px 40px 0px 40px;
}

/* Fin Contenedores */
/* Formuario */
.formulario {
  margin: 10px;
  padding: 30px;
  border: 1px solid #a4eae0;
  background-color: #eaeaea;
  border-radius: 25px;
}

.formulario__bloques {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-end;
}

.formulario--lg {
  width: 550px;
}

.formulario__input {
  border: #a4eae0 solid;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Fin Formuario */
.btn {
  border: 2px #a4eae0 solid;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
  width: 150px;
  background: #eaeaea;
  text-transform: uppercase;
}
.btn:hover {
  border: 2px #FFA4b3 solid;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background: #FFA4b3;
  color: #000000;
}

.imagenes__nosotros {
  border-radius: 25px;
  box-shadow: -3px 2px 11px 0px #2c2b2b;
}

.logo {
  animation: logoInicio;
  animation-duration: 5s;
}

.imagenes__logo {
  height: 300px;
  padding-top: 10px;
}

.imagenes__logo--footer {
  height: 100px;
  padding-top: 10px;
}

.imagenes__servicios {
  border-radius: 25px;
  box-shadow: 0px 0px 6px 0px #2c2b2b;
  width: 200px;
  height: auto;
  filter: grayscale(50%);
}
.imagenes__servicios:hover {
  transition-delay: 10s;
  transition: transform 0.8s;
  transform: scale(0.9);
  filter: grayscale(0%);
}

.imagenes__servicios--1 {
  width: 400px;
  border-radius: 25px;
  grid-area: grupo1;
}

.imagenes__servicios--2 {
  grid-area: grupo2;
}

.imagenes__servicios--3 {
  grid-area: grupo3;
}

.imagenes__servicios--4 {
  grid-area: grupo4;
}

.imagenes__servicios--5 {
  grid-area: grupo5;
}

.imagenes__servicios--6 {
  grid-area: grupo6;
}

.imagenes__clientes img {
  border-radius: 100%;
  box-shadow: 0px 0px 6px 0px #2c2b2b;
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagenes__clientes--lg img {
  border-radius: 25px;
  box-shadow: 0px 0px 6px 0px #2c2b2b;
  width: 200px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subir {
  position: fixed;
  font-size: 40px;
  color: #FFA4b3;
  right: 20px;
  bottom: 20px;
  height: 70px;
  width: 70px;
  text-decoration: none;
}
.subir:hover {
  color: #FFA4b3;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #FFA4b3;
}

.mapa {
  border-radius: 25px;
  border: 1px solid #a4eae0;
  background-color: #eaeaea;
  margin: 10px;
  padding: 10px;
  width: 450px;
  height: 450px;
}

.bg {
  background-color: #1a1e1f;
}

/* Inicio Media Query */
@media only screen and (min-width: 0px) and (max-width: 349px) {
  #main {
    display: none;
  }

  #main__secciones {
    display: none;
  }
}
@media only screen and (min-width: 350px) and (max-width: 421px) {
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu_grid menu_grid" "contenedor contenedor" "footer footer";
  }

  .cabecero, .cabecero__menu {
    display: none;
  }

  .cabecero__menu {
    display: flex;
  }

  .cabecero__menu--sm {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .subir {
    right: -24px;
    bottom: 75px;
    height: 70px;
    width: 70px;
  }

  .contenedor {
    min-width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contenedor__tarjetas--lg {
    width: 350px;
    height: 680px;
  }

  .contenedor--invertido {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor__carrusel {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contenedor__galeria {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 10px;
  }

  .contenedor__galeria--index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "grupo1" "grupo2" "grupo3";
    gap: 5px;
    justify-items: center;
  }

  .imagenes__logo {
    height: 80px;
  }

  .imagenes__servicios {
    width: 150px;
  }

  .imagenes__servicios--1 {
    width: 150px;
  }

  .imagenes__servicios--4 {
    display: none;
  }

  .imagenes__servicios--5 {
    display: none;
  }

  .imagenes__servicios--6 {
    display: none;
  }

  .formulario--lg {
    width: 300px;
  }

  .mapa {
    width: 270px;
    height: 200px;
  }

  .titulo__menu--sm {
    font-size: 15px;
    padding-left: 18px;
  }

  .contenedor__titulo {
    font-size: 45px;
    text-align: center;
  }

  .oculto1 {
    display: none;
  }

  .oculto2 {
    display: none;
  }
}
@media only screen and (min-width: 422px) and (max-width: 550px) {
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu_grid menu_grid" "contenedor contenedor" "footer footer";
  }

  .cabecero, .cabecero__menu {
    display: none;
  }

  .cabecero__menu {
    display: flex;
  }

  .cabecero__menu--sm {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .contenedor--invertido {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor__galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;
  }

  .contenedor__galeria--index {
    display: grid;
    grid-template-columns: 1fr 1f;
    grid-template-areas: "grupo1 grupo2" "grupo3 grupo4" "grupo5 grupo6";
    gap: 5px;
  }

  .contenedor__carrusel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contenedor__titulo {
    font-size: 45px;
    text-align: center;
  }

  .titulo__menu--sm {
    font-size: 20px;
    padding-left: 20px;
  }

  .imagenes__servicios {
    width: 150px;
  }

  .imagenes__servicios--1 {
    width: 150px;
  }

  .imagenes__logo {
    height: 100px;
  }

  .formulario--lg {
    width: 380px;
  }

  .mapa {
    width: 330px;
    height: 300px;
  }

  .subir {
    right: -23px;
    bottom: 79px;
    height: 70px;
    width: 70px;
  }

  .oculto1 {
    display: none;
  }

  .oculto2 {
    display: none;
  }
}
/*  */
@media only screen and (min-width: 551px) and (max-width: 767px) {
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu_grid menu_grid" "contenedor contenedor" "footer footer";
  }

  .cabecero, .cabecero__menu {
    display: none;
  }

  .cabecero__menu {
    display: flex;
  }

  .cabecero__menu--sm {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .contenedor--invertido {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor__galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;
  }

  .contenedor__galeria--index {
    display: grid;
    grid-template-columns: 1fr 1f;
    grid-template-areas: "grupo1 grupo2" "grupo3 grupo4" "grupo5 grupo6";
    gap: 5px;
  }

  .contenedor__carrusel {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contenedor__titulo {
    font-size: 45px;
    text-align: center;
  }

  .titulo__menu--sm {
    font-size: 23px;
    padding-left: 30px;
  }

  .imagenes__logo {
    height: 110px;
  }

  .imagenes__servicios {
    width: 150px;
  }

  .imagenes__servicios--1 {
    width: 150px;
  }

  .formulario--lg {
    width: 500px;
  }

  /* Fin Formuario */
  .mapa {
    width: 450px;
    height: 300px;
  }

  .oculto1 {
    display: none;
  }

  .oculto2 {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "menu_grid menu_grid" "contenedor contenedor" "footer footer";
  }

  .contenedor__galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;
  }

  .contenedor__galeria--index {
    display: grid;
    grid-template-columns: 1fr 1f;
    grid-template-areas: "grupo1 grupo2" "grupo3 grupo4" "grupo5 grupo6";
    gap: 5px;
  }

  .contenedor__carrusel {
    padding-left: 60px;
    padding-right: 60px;
  }

  .contenedor__titulo--Left, .contenedor__titulo--Right {
    font-size: 50px;
    width: 350px;
    text-align: center;
  }

  .cabecero__menu li {
    padding: 0px 5px 0px 24px;
  }

  .imagenes__servicios--1 {
    width: 200px;
  }

  .oculto1 {
    display: none;
  }

  .mapa {
    width: 450px;
    height: 300;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1168px) {
  .contenedor__galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;
  }

  .oculto2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
