// Inicio Imgenes 

.imagenes__nosotros {
    border-radius: $bordes;
    box-shadow: -3px 2px 11px 0px $colorFuente1;
}

.logo{
    animation: logoInicio;
    animation-duration: 5s;
}

.imagenes__logo {
    height: 300px;
    padding-top: 10px;
}
.imagenes__logo--footer {
    height: 100px;
    padding-top: 10px;
}

.imagenes__servicios {
    @include imagenes($bordes,0px 0px 6px 0px $colorFuente1,200px,auto);
    filter: grayscale(50%);
    &:hover {
        transition-delay: 10s;
        transition: transform 0.8s;
        transform:scale(0.9);
        filter: grayscale(0%);
    }
}

.imagenes__servicios--1 {
    width: 400px;
    border-radius: $bordes;
    grid-area: grupo1;
}

$imagenes-grid-area:(
    servicios--2: grupo2,
    servicios--3: grupo3,
    servicios--4: grupo4,
    servicios--5: grupo5,
    servicios--6: grupo6,
);
@each $i, $area in $imagenes-grid-area {
    .imagenes__#{$i} {
        grid-area: $area;
    }
}


.imagenes__clientes {
    img {
        @include imagenes(100%,0px 0px 6px 0px $colorFuente1,100px,auto);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.imagenes__clientes--lg {
    img {
        @include imagenes(25px,0px 0px 6px 0px $colorFuente1,200px,180px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

//Fin Imagenes