* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrincipal;
}
html {
    scroll-behavior: smooth;
}

hr {
    border: 1px solid #a4eae0;
}

/* INICIO MAQUETADO CON GRID */
#main {
    @include grid-maquetado(grid,1fr 1fr,"header header"
    "menu_grid menu_grid"
    "contenedor contenedor"
    "footer footer");
}

#header {
    grid-area: header;
}

#menu {
    grid-area: menu_grid;
}

#footer {
    grid-area: footer;
}

#container__index {
    @include grid-maquetado(grid,1fr,"nosotros"
    "servicios"
    "clientes"
    "contacto");
    grid-area: contenedor;
}

#container__individual {
    @include grid-maquetado(grid,1fr,"nosotros");
    grid-auto-flow: row;
    grid-area: contenedor;
    
}

#nosotros {
    grid-area: nosotros;
}

#servicios {
    grid-area: servicios;
}

#clientes {
    grid-area: clientes;
}

#contacto {
    grid-area: contacto;
}

/* FIN MAQUETADO CON GRID */

/* Header */
.cabecero {
    background-color: $colorHeader;
    text-align: center;
    z-index: 1;
}

.cabecero__menu {
    @extend .cabecero;
    animation: menu;
    display: flex;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-evenly;

    li {
        display: inline-block;
        padding: 0px 40px 0px 40px;
        animation: menu;
        animation-duration: 10s;
    }
}
.cabecero__menu--sm{
    border: none;
}

.cabecero__menu__items {
    text-decoration: none;
    color: $colorFuente2;

    &:hover {
        font-weight: bold;
        color: $color5;
    }
}

.cabecero__menu__items--seleccionado {
    font-weight: bold;
    text-decoration: none;
    color: $colorFuente2;
}

/* Fin Header */

/* Footer */
.pie {
    background-color: $colorFooter;
    color: $color5;
}

.pie__contenedor {
    font-size: 30px;
}

/* Fin Footer */