$fuentePrincipal: 'Montserrat', sans-serif;
$color1: #a4eae0;
$color2: #eaeaea;
$color3: #939393;
$color4: #8A866F;
$color5: #FFA4b3; 
$colorHeader: #ffffff;
$colorFooter: #000000;
$colorFuente1: #2c2b2b;
$colorFuente2: #000000;

$bordes: 25px;

// Titulos
$tTitulos_lg: 50px;
$tTitulos_m: 45px;
$tTitulos_ms: 45px;
$tTitulos_s: 23px;
$tTitulos_sm: 15px;

$anchTitulos_lg: 350px;
$anchTitulos_m: 200px;
$anchTitulos_s: 100px;

$lTitutlos: left;
$rTitulos: right;


